<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"  href="/styles/Autogeneratecourse1.css">

    <title>Departments</title>
</head>
<body>
    <div class="header">
        <ul>
            <li style="padding-right: 730px;">University</li>
            <a href="/home1"><li><u>Home</u></li></a>
            <a href="/department"><li>Departments</li></a>
            <a href="/courses"><li>Courses</li></a>
            <a href="/Profile"><li>Profile</li></a>
        </ul>
    </div>
    <h1 class="coursetitle"><%= CourseName %></h1>
    <h1 class="hours"><%= hours %></h1>
    <h1><%= language %></h1>
    <h1><%= platform %></h1>
    <h1><%= credits %></h1>
    <h1><%= certificates %></h1>
    <h2 class="complete"><%= complete_description %></h2>

    <footer>
        <div style=" bottom: 0; left: 0; width: 100%; background-color: #1580ab; color: rgb(17, 16, 16); padding: 20px; margin-bottom: -10px;margin-left: -10px;;text-align: center;">
            
            <p style="font-size: 20px">The University</p>
            <p>&copy; 2023 All rights reserved.</p>
      </footer>

</body>
</html>